# Dependencies
node_modules
.pnpm-store

# Build
dist
.next
out
artifacts
cache
typechain-types

# Env (temporarily allowing for dev — remove secrets before making repo public)
# .env
# .env.local
# .env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
.DS_Store

# Turbo
.turbo

# Debug
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Coverage
coverage

# Hardhat
packages/contracts/artifacts
packages/contracts/cache
packages/contracts/typechain-types
