PORT=4000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/unitrust?retryWrites=true&w=majority
PINATA_API_KEY=your_pinata_api_key
PINATA_SECRET_KEY=your_pinata_secret_key
PINATA_GATEWAY=https://gateway.pinata.cloud/ipfs/
PRODUCT_NFT_ADDRESS=0x0000000000000000000000000000000000000000
CERTIFICATE_NFT_ADDRESS=0x0000000000000000000000000000000000000000
ALCHEMY_RPC=https://polygon-amoy.g.alchemy.com/v2/YOUR_KEY
ALLOWED_ORIGIN=http://localhost:3000
